{% from '_macros.html' import render_errors %}

{% include '_flash.html' %}

<form method="POST" action="">
    {{ form.csrf }}
    
    <div>
        <label>{{ form.account.label}}</label><br />
        {{ form.account(size=30) }} {{ render_errors(form.account) }}
    </div>
    
    <div>
        <label>{{ form.password.label}}</label><br />
        {{ form.password(size=30) }} {{ render_errors(form.password) }}
    </div>
    
    <div>
        <label>{{ form.repeat_password.label}}</label><br />
        {{ form.repeat_password(size=30) }} {{ render_errors(form.repeat_password) }}
    </div>
    
    <input type="submit" value="注册" />
</form>